---
import { getCollection } from 'astro:content'
import PageLayout from '@/layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import Button from '@/components/Button.astro'
import UseCard from "@/components/UseCard.astro";

const equipments = (await getCollection('uses')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
)
---

<PageLayout meta={{ title: 'Uses' }}>
	<div class='w-full'>
		<Button title='Back' href='/' style='button'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-before'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
				>
				</path>
			</svg>
		</Button>

		<div class='mt-5 flex w-full flex-col gap-y-10'>
			<div>
				<h1 class='mb-1 text-2xl font-bold'>Uses</h1>
				<p>Equipments I use</p>
			</div>

			<section>
				<ul class='grid grid-cols-1 gap-4 md:grid-cols-2'>
					{equipments.map((equipment) => <UseCard equipment={equipment} />)}
				</ul>
			</section>
		</div>
	</div>
</PageLayout>
