---
import MobileNav from '@/components/elements/MobileNav'
import ThemeToggle from '@/components/elements/ThemeToggle'
---

<header class='mb-12 flex w-full flex-wrap pb-3 text-sm sm:flex-nowrap sm:justify-start'>
	<nav
		class='relative mx-auto flex w-full items-center justify-between gap-3 sm:flex sm:items-center'
	>
		<a class='flex-none text-xl font-semibold' href='/' aria-label='Brand'>Vo Thanh Luan</a>
		<div class='flex-1'></div>
		<ThemeToggle client:visible />
		<MobileNav client:visible />
	</nav>
</header>
