---
import PageLayout from '@/layouts/BaseLayout.astro'
import Button from '@/components/Button.astro'
import ProcessSection from '@/components/ProcessSection.astro'
import ServicesSection from '@/components/ServicesSection.astro'
import TechStack from '@/components/TechStack.astro'

const meta = {
  description: 'My services',
  title: 'Services'
}
---

<PageLayout meta={meta}>
  <div class='animate w-full'>
    <Button title='Back' href='/' style='back' />

    <div class='mt-5 flex w-full flex-col gap-y-10'>
      <div>
        <h1 class='mb-1 text-2xl font-bold'>Services</h1>
      </div>
      <ServicesSection />

      <div>
        <h1 class='mb-1 text-2xl font-bold'>Process</h1>
      </div>
      <ProcessSection />

      <div>
        <h1 class='mb-1 text-2xl font-bold'>Tech stack</h1>
      </div>
      <TechStack />
    </div>
  </div>
</PageLayout>
