---

---

<html>
	<head>
		<script>
			import './elements/mux-video.ts'
		</script>
	</head>

	<body>
		<main class=''>
			<div>
				<mux-video
					playback-id='EcHgOK9coz5K4rjSwOkoE7Y7O01201YMIC200RI6lNxnhs'
					controls
					poster='/projects/dica-cover.webp'
					preload='metadata'
					primary-color='#31274a'
					secondary-color='#ff5d01'
				>
				</mux-video>
			</div>
		</main>
	</body>
</html>

<style>
	mux-video {
		width: 100%;
		max-width: 800px;
		display: block;
		margin: 40px auto;
	}
</style>
