---
import { Icon } from 'astro-icon/components'

import Card from './Card.astro'
import { services } from '@/site-config'
---

<div class='grid grid-cols-1 gap-8 md:grid-cols-2'>
	{
		services.map((service, index) => (
			<Card key={index}>
				<div class='mb-4 flex items-center'>
					<Icon name={service.iconPath} class='z-20 size-10 rounded-lg bg-muted p-2' />
					<h3 class='ml-4 text-2xl font-semibold'>{service.title}</h3>
				</div>
				<p class='text-primary'>{service.description}</p>
			</Card>
		))
	}
</div>
