---
import type { GetStaticPaths, Page } from 'astro'
import type { CollectionEntry } from 'astro:content'
import { getUsesCollection, sortMDByDate } from '@/lib/utils/server'

import PageLayout from '@/layouts/BaseLayout.astro'
import Button from '@/components/Button.astro'
import UseCard from '@/components/UseCard.astro'

export const prerender = true

const { page } = Astro.props

export const getStaticPaths = (async ({ paginate }) => {
  const collections = sortMDByDate(await getUsesCollection())
  const collectionsCount = collections.length
  return paginate(collections, {
    props: { collectionsCount }
  })
}) satisfies GetStaticPaths

interface Props {
  page: Page<CollectionEntry<'use'>>
  uniqueTags: string[]
  collectionsCount: number
}

const meta = {
  description: 'My equipments',
  title: 'Uses'
}
---

<PageLayout meta={meta}>
  <div class='animate w-full'>
    <Button title='Back' href='/' style='back' />

    <div class='mt-5 flex w-full flex-col gap-y-5'>
      <h1 class='mb-1 text-2xl font-bold'>Uses</h1>
      <p>Equipments I used</p>

      <section>
        <ul class='grid grid-cols-1 gap-4 md:grid-cols-2'>
          {
            page.data.length === 0 ? (
              <p>No equipments yet.</p>
            ) : (
              page.data.map((equipment) => <UseCard equipment={equipment} />)
            )
          }
        </ul>
      </section>
    </div>
  </div>
</PageLayout>
