---
import { Image } from 'astro:assets'
import { type CollectionEntry, getCollection } from 'astro:content'
import PageLayout from '@/layouts/BaseLayout.astro'
import Button from "../../components/Button.astro";

export async function getStaticPaths() {
	const use = await getCollection('uses')
	return use.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry }
	}))
}

const { entry } = Astro.props

const { Content } = await entry.render()

export const prerender = true
---

<PageLayout meta={{ title: 'Uses' }}>
	<div class='w-full'>
		<Button title='Back' href='/uses' style='button'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-before'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
				>
				</path>
			</svg>
		</Button>

		<div class='mt-5 flex w-full flex-col gap-y-10'>
			<div class='flex flex-col gap-16'>
				{
					entry.data.img && (
						<Image
							class='rounded-xl border border-slate-300'
							width={720 * 2}
							height={1280 * 2}
							src={entry.data.img}
							alt={entry.data.img_alt}
						/>
					)
				}
			</div>
			<h1 class='my-1 font-satoshi text-3xl'>{entry.data.heading}</h1>
			<p>{entry.data.subheading}</p>
			<hr class='my-4 border-t border-zinc-400' />
			<Content />
		</div>
	</div>
</PageLayout>
