---
import PageLayout from './BaseLayout.astro'
import { Image } from 'astro:assets'

export interface Props {
	content: {
		title: string
		description: string
		createdAt?: string
		updatedAt?: string
		heroImage?: string
		tags: string[]
	}
}

const {
	content: { title, description, heroImage }
} = Astro.props
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='w-full'>
		<div class='mt-5 flex w-full flex-col'>
			<div class='mb-8'>
				{
					heroImage && (
						<Image
							class='rounded-xl border border-slate-300'
							width={720 * 2}
							height={1280 * 2}
							aspectRatio={2.0}
							src={heroImage}
							alt=''
						/>
					)
				}
			</div>
			<h1 class='my-1 font-satoshi text-3xl'>{title}</h1>
			<p>{description}</p>
			<hr class='my-4 border-t border-zinc-400' />
			<slot />
			<span
				class='list-disc text-2xl underline decoration-orange-500 underline-offset-2 hover:text-orange-500'
			></span>
		</div>
	</div>
</PageLayout>
