---
import type { CollectionEntry } from 'astro:content'

import PageLayout from '@/layouts/BaseLayout.astro'
import BackToTop from '@/components/BackToTop.astro'
import Button from '@/components/Button.astro'
import EquipmentHero from '@/components/EquipmentHero.astro'
import { cn } from '@/utils'
import { integ } from '@/site-config'

interface Props {
  use: CollectionEntry<'use'>
}

const {
  use: { data }
} = Astro.props

const { description, heroImage, publishDate, title, updatedDate, draft: isDraft } = data

const socialImage = heroImage
  ? typeof heroImage.src === 'string'
    ? heroImage.src
    : heroImage.src.src
  : 'social-card.png'
const articleDate = updatedDate?.toISOString() ?? publishDate.toISOString()
const primaryColor = data.heroImage?.color ?? 'hsl(var(--primary) / var(--tw-text-opacity))'
---

<PageLayout meta={{ articleDate, description, ogImage: socialImage, title }}>
  <Button title='Back' href='/use' style='back' />

  <div class='mt-5 flex w-full flex-col'>
    <div class='mx-auto flex flex-col'>
      <div class='mb-8'>
        <EquipmentHero data={data} />
      </div>

      <hr class='my-4 border-t border-zinc-400' />
      <div
        id='content'
        class={cn('max-w-none animate mt-8 md:min-w-[45ch]', integ.typography.class)}
      >
        <slot />
      </div>
      <span
        class='list-disc text-2xl underline decoration-orange-500 underline-offset-2 hover:text-orange-500'
      ></span>
    </div>
  </div>

  <BackToTop header='content-header' content='content' />
</PageLayout>
